<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width; initial-scale=1;">

  <title>Mean Matt | Mean Stack Developer</title>

  <!-- FRONT END DEPENDENCIES [START] -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebusneuebold" type="text/css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <!-- FRONT END DEPENDENCIES [END] -->

  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body class="container">
  <header id="site-header">
    <div>
      <h1 class="logo">MeanMatt</h1>
      <h3 class="tagline">Lean, MEAN coding machine</h3>
      <p class="lead">Living and developing web apps for small business in Los Angeles</p>
      <div class="row"> 
        <p class="lead small col-md-3 col-sm-12">
          <span class="availability available"></span>
          Currently Available for Projects
        </p>
        <p class="lead small col-md-3 col-sm-12">
          <a href="/images/resume.pdf">View</a>&nbsp;/&nbsp;<a href="/images/resume.pdf" download="download">Download</a> my CV
        </p>
      </div>
    </div>
  </header>

  <section class="examples">
    <header>
      <h5>Projects</h5>
    </header>


    <ul class="list-unstyled row">
      <li class="col-md-3 col-xs-12">
        <h6>
          <a href="https://awesomelittlegreenmen.mgae.com/" target="_blank">
            Awesome Little Green Men
          </a>
        </h6>
        <p>
            At MGA I worked alongside another developer handling Front End Development and assisting in the craetion of a template system powered by NodeJS, ExpressJS, and Angular.
        </p>
      </li>
      <li class="col-md-3 col-xs-12">
        <h6>
          <a href="http://ramonarosales.com/portfolio/" target="_blank">
            Romona Rosales
          </a>
        </h6>
        <p>
            Wrote a custom Wordpress theme for photographer Romona Rosales to showcase her various photography projects.
        </p>
      </li>
      <li class="col-md-3 col-xs-12">
        <h6>
          <a href="http://sample1.mattismean.com/" target="_blank">
            Pelos Place
          </a>
        </h6>
        <p>
            A web app for a salon to receive appointments and manage appointments.
            <br />
            [WIP : needs front end and controllers for CRUD appointments]
            <br />
            <a href="https://github.com/matt-elliott/PelosPlace/" target="_blank">View on Github</a>
        </p>
      </li>
      <li class="col-md-3 col-xs-12">
        <h6>
          <a href="https://github.com/matt-elliott/twitter-watcher/" target="_blank">
            Twitter Watcher
          </a>
        </h6>
        <p>
            A small web app that watches twitter for certain keywords and saves the tweet.
            [WIP : needs front end controls for keyword to watch] 
            <br />
            <a href="https://github.com/matt-elliott/PelosPlace/" target="_blank">View on Github</a>
        </p>
      </li>
    </ul>

    <!-- <div class="row example">
      <figure class="col-md-3 col-sm-12">
        <img src="http://placehold.it/320X400" />
      </figure>

      <div class="col-md-9 col-sm-12">
        <h6>Example Project 1</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu orci ut dui tristique dapibus. Praesent euismod dolor vulputate egestas hendrerit. Sed in leo porttitor, malesuada nisi et, maximus leo. Vivamus dictum dictum ipsum, ac elementum velit auctor sit amet. Morbi vel felis enim. Cras accumsan odio in erat congue, vitae varius quam interdum. Proin vel neque vel diam feugiat dapibus eu vel turpis.</p>

        <ul class="list-unstyled">
          <li>Big point 1</li>
          <li>Big point 2</li>
          <li>Big point 3</li>
          <li>Big point 4</li>
        </ul>

        <a class="btn btn-default">Visit Site</a>
      </div>
    </div> -->
  </section>

  <section class="row testimonials">
    <header class="col-sm-12">
      <h5>Testimonials</h5>
    </header>

    <div class="testimonial col-sm-12 col-md-6 col-lg-4 offset-lg-1">
      <blockquote class="blockquote">
        <p>
          Matt has been invaluable to my company.  Not only does he consistently and efficiently deliver his services as promised, he is proactive about recommended updates, ranging from security to industry specific layouts.  Matt is a refreshing reminder of how competent freelancers should conductive themselves, absent of a the necessity for micromanagement or constant oversight.
        </p>

        <footer class="blockquote-footer">
          Nicholas Wylie,
          <cite title="Source Employer">Tetsu Productions, LLC</cite>
        </footer>
      </blockquote>
    </div>

    <div class="testimonial col-sm-12 col-md-6 col-lg-4 offset-lg-2">
      <blockquote class="blockquote">
        <p>
          I had several web designers I could choose from, and Matt won the bid for his professionalism. Matt was a pro all through out the development and was always available through emails to bounce ideas around. He was very open to new ideas and was excited to make the best site possible. Sometimes I wondered if he could pull off what I wanted, but every time, he came through. All in All, it was a great experience. I am very happy with site.
        </p>

        <footer class="blockquote-footer">
          Sean Coons,
          <cite title="Source Employer">Painter</cite>
        </footer>
      </blockquote>
    </div>

    <div class="testimonial col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <blockquote class="blockquote">
        <p>
          Matt was quick to hit the ground running, understand our architectural paradigms, and quickly develop usable HTML that followed all the coding conventions specific to our large system infrastructure in the midst of a busy team who were not able to offer much time to bring him up to speed.
          <br />
          I can confidently say that Matt's efforts directly resulted in our projected getting across the finish line on time and with quality. I definitely recommend Matt and would quickly choose to work with him again.
        </p>

        <footer class="blockquote-footer">
          Luke Nysen,
          <cite title="Source Employer">Sr. Software Engineer @TripAdvisor</cite>
        </footer>
      </blockquote>
    </div>
  </section>

  <section class="row overview">
    <div class="col-sm-12 col-md-6">
      <h5>Stack</h5>
      <ul class="list-unstyled">
        <li>MongoDB</li>
        <li>ExpressJS</li>
        <li>AngularJS</li>
        <li>NodeJS</li>
        <li>Nginx</li>
        <li>MySql</li>
      </ul>
    </div>
    <!-- <div class="col-sm-12 col-md-3">
      <h5>Certifications</h5>
      <ul class="list-unstyled">
        <li>html5</li>
        <li>css3</li>
        <li>javascript</li>
      </ul>
    </div> -->
    <div class="col-sm-12 col-md-6">
      <h5>Training (Udemy)</h5>
      <ul class="list-unstyled">
        <li>Learn and Understand NodeJs</li>
        <!-- <li>Learn Ethical Hacking from Scratch</li>
        <li>ES6: Developers Guide</li>
        <li>Google Dev Tools Course</li>
        <li>Fundamentals of Programming</li> -->
      </ul>
    </div>
  </section>

  <!-- <section class="row contact">
    <header class="col-sm-12">
      <h5>Contact</h5>
    </header>

    <form class="col-md-6 col-sm-12 form-group">
      <input type="name" name="name" placeholder="Enter Name" class="form-control" />
      <input type="email" name="email" placeholder="Enter Email"  class="form-control">
      <input type="number" name="number" placeholder="Enter Phone Number" class="form-control" />
      <textarea type="message" name="message" placeholder="Enter Project Details"  class="form-control"></textarea>
      <input type="submit" name="submit"  class="form-control" />
    </form>

    <figure class="col-md-6 col-sm-12">
      <img src="http://placehold.it/250x300" />
    </figure>
  </section> -->

  <footer class="row site-footer">
  </footer>
</body>
</html>